@import "config.scss";

.course {
  display: flex; 
  flex-wrap: wrap;
  margin-bottom: $gutter;

  @media(max-width: $max-width) {
    padding: 0; 
  }

  &__row {
    display: flex;
    flex-direction: column;  
    margin-right: -($gutter / 2);
    margin-left: -($gutter / 2); 

    @media(max-width: 799px){
      flex-direction: column;
      padding-left: $gutter;      
    }

    @media(min-width: 800px) {
      flex-direction: row;
    }
  }

  &__col {
    width: 100%; 
    padding-right: $gutter / 2; 
    padding-left: $gutter / 2; 
    margin-bottom: $gutter; 

    @media(min-width: $max-width) {
        width: 50%;
        margin-bottom: $gutter;
    }

    @media(width: 800px) {
      &:first-child {
        margin-left: $gutter;
      }

      &:last-child {
        margin-left: 0;
      }
    }
  }

  &__text {
    display: flex; 
    flex-direction: column; 
    font-size: $size21;
    margin-bottom: $gutter * 2; 
  }

  &__title {
    font-family: $font-heading; 
    font-size: $size36; 
    margin-bottom: $gutter * 2; 
  }

  &__p {
    font-family: $font-main;
    margin-bottom: $gutter * 2; 
  }

  &__signbutton {
    display: flex; 
    justify-content: center;
    margin-bottom: $gutter * 2; 
  }

}



