@import "scss/config.scss";

.products {

  margin: 0 auto;


  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $gutter * 2;
    margin-right: -($gutter / 2);
    margin-left: -($gutter / 2);

    @media(max-width: $max-width) {
      margin-left: $gutter / 2; 
    }

  }

  &__col {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-bottom: $gutter; 
    padding-right: $gutter / 2; 
    padding-left: $gutter / 2;

    @media(min-width: 501px) {
      width: 50%;
    }

    @media(min-width: 801px) {
      width: 33.333%;
    }    
  }

  &__description {
    display: flex;
    flex: 1; 
  }

  &__title {
    font-family: $font-heading;
    font-size: $size36;
    margin-bottom: $gutter / 2;
  }

  &__image {
    margin-bottom: $gutter;
  }

  &__img {
    max-width: 100%;
  }

  &__text {
    margin-bottom: $gutter;
  }

  &__price {
    font-family: $font-heading;
    font-size: $size24;
    font-weight: bold;
    margin-bottom: $gutter;
  }

  &__clickon {
    display: flex;
    align-items: flex-end;
  }

  &__label {
    flex: 1;
    margin-right: $gutter / 2;
    font-size: $size16;
  }

  &__input {
    width: 100%;
    padding: 8px;
    margin-right: 4px;
    border: 1px solid $black;
    border-radius: 2px;  
    font-size: $size16;
  }

  &__button {
    padding: 8px; 
    margin-right: 10px; 
    border: 1px solid $black;
    border-radius: 2px; 
    font-size: $size16;
    background-color: lightgrey;
    transition: color $transition;

    &:hover {
      background-color: $blue;
      border-color: $blue;
    }

  }

  &__imgcart {
    height: 15px;
  }

}